body {
  /*  Typography Declarations  */
  background-color: ##FAFAFA;
  color: #222222;
  font-size: 1rem;
  font-family: "Open Sans", "Gentium Book Basic", sans serif;
}

.masthead {
  border-top: solid 1em #0D0D0D;
  border-bottom: solid 1em #0D0D0D;
  border-radius: .45em;
  background-image: url(nTr1589kTgyXCOdStCGm_MikaRuusunen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 6em 0;
  margin-bottom: 3em;
}

.masthead-intro,
.masthead-heading,
.content-footer {
  text-align: center;
}

.masthead-intro {
  /*  Layout Declarations  */
  margin-bottom: 0em;
  /*  Typography Declarations  */
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2rem;
  font-weight: light;
  color: #0D0D0D;
  word-spacing: .89rem;
  text-shadow: 0rem .01rem .09rem #0D0D0D;
}

.masthead-heading {
  /*  Layout Declarations  */
  margin-top: 0rem;
  /*  Typography Declarations  */
  font-family: "Times New Roman", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 6rem;
  letter-spacing: -.02rem;
  text-transform: uppercase;
  color: #0D0D0D;
  text-shadow: 0rem .001rem .075rem #0D0D0D;
}

.intro-section,
.importance-section,
.moreabout-section {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.intro-section > p,
.importance-section > p,
.moreabout-section > p,
.moreabout-section > div {
  /*  Typography Declarations  */
  font-weight: 300;
  letter-spacing: .05rem;
}

.moreabout-section > h2 {
  /*  Typography Declarations  */
  font-family: "Open Sans", Georgia, serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #9E9E9E;
  /*  Layout Declarations  */
  margin: 2rem 0 1rem 0;
}

.content-footer {
  /*  Layout Declarations  */
  padding-bottom: .5rem;
  margin-top: 7rem;
  border-top: .25rem solid #8D8D8D;
  border-bottom: .25rem solid #8D8D8D;
  border-radius: 1rem;
  /* Red, Green, Blue: #RRGGBB */
  color: #DAD9DA;
  background-color: #0D0D0D;
}

.content-footer > p {
  color: ;
}
.social{
  margin-left: -3.75rem;
}
.social>li {
  display: inline-block;
  margin-left: 1rem;
}

a {
  color: #ff3a00;
  text-decoration: none;
  font-weight: light;
}

h1 {
  color: #282828;
}

h2 {
  color: #8D8D8D;
  text-decoration: underline;
  font-size: 1.2rem;
}
.favorite{
  margin-top: 1rem;
}
@media only screen and (max-width: 1050px) {
  .masthead {
    padding: 3rem 0;
  }
  .masthead-heading{
    font-size: 3.5rem;
  }
  .intro-section,
  .importance-section,
  .moreabout-section{
     font-size: 70%;
}
  .content-footer p {
    font-size: 70%;
  }
  .social {
    font-size: 150%;
  }
}